<%= form_for(@station,remote: true,html:{class:"form-horizontal"}) do |f| %>
  <% if @station.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@station.errors.count, "error") %> prohibited this station from being saved:</h2>

      <ul>
        <% @station.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class="form-group">

    <%= f.label :name ,"名称",class:"control-label col-sm-2" %>
    <div class="col-sm-10">
      <%= f.text_field :name ,class:'form-control' %>
    </div>
  </div>


  <div class="form-group">

    <%= f.label :pos_type, "坐标类型",class:'control-label col-sm-2'%>
    <div class="col-sm-10">
      <%= f.select :pos_type, [["百度坐标",'baidu_geo'],["GPS设备采集",'gps']], {},{class:"form-control",id:"select_pos_type_list",onchange:"change(this);"}%>
      <p class="">注意，百度坐标和GPS坐标相互之间有一定偏移，若为设备采集坐标，请选择GPS设备采集</p>
    </div>
  </div>

  <div class="gps_pos_div">
    <div class="form-group">
      <%= f.label :lat,"纬度", class:"control-label col-sm-2" %>
      <div class="col-sm-10">
        <%= f.text_field :lat ,class:'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :lng ,"经度", class:"control-label col-sm-2" %>
      <div class="col-sm-10">
        <%= f.text_field :lng, class:"form-control" %>
      </div>
    </div>
  </div>

  <div class="baidu_pos_div">
    <div class="form-group">
      <%= f.label :lat,"百度纬度", class:"control-label col-sm-2" %>
      <div class="col-sm-10">
        <%= f.text_field :baidu_lat ,class:'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :lng ,"百度经度", class:"control-label col-sm-2" %>
      <div class="col-sm-10">
        <%= f.text_field :baidu_lng, class:"form-control" %>
      </div>
    </div>
  </div>

<div class="form-group">

  <%= f.label :description,"描述", class:"control-label col-sm-2" %>
  <div class="col-sm-10">
      <%= f.text_area :description, class:"form-control" %>    
    </div>
  </div>

  <div class="form-group">
    <%= f.label :markup, "备注",class:"control-label col-sm-2" %>
    <div class="col-sm-10">
      <%= f.text_area :markup, class:"form-control" %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit %>


    </div>
  </div>
<% end %>

<script type="text/javascript" charset="utf-8">
  function switch_pos(){
    if("<%= @station.pos_type %>"=="gps"){
      $(".baidu_pos_div").hide();
    }
    else{
      $(".gps_pos_div").hide();
    }
  }
  switch_pos();
  
function change(obj){
      if ($(obj).val() == "gps"){
        $(".baidu_pos_div").hide();
        $(".gps_pos_div").show();
      }else{
        $(".gps_pos_div").hide();
        $(".baidu_pos_div").show();
      }
  }

  
</script>

