<h1>Listing stations</h1>

<row></row>
<div class="col-sm-9">

</div>
<div class="col-sm-3">

</div>



<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Lat</th>
      <th>Lng</th>
      <th>baidu_lat</th>
      <th>baidu_lng</th>
      <th>Description</th>
      <th>Markup</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @stations.each do |station| %>
      <tr>
        <td><%= station.name %></td>
        <td><%= station.lat %></td>
        <td><%= station.lng %></td>
        <td><%= station.baidu_lat %></td>
        <td><%= station.baidu_lng %></td>
        <td><%= station.description %></td>
        <td><%= station.markup %></td>
        <td><%= link_to 'Show', station %></td>
        <td><%= link_to 'Edit', edit_station_path(station) %></td>
        <td><%= link_to 'Destroy', station, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @stations %>
<br>

<%= link_to 'New Station', new_station_path,id:"new_link", remote:true %>
