<div class="row">
  <div class="col-xs-9 all_height">
    <div class="row" id="map_div" >
      <div class="col-xs-12 all_height" id="map" ></div>
    </div>
  </div>
  <div class="col-xs-3">
    <div class="panel panel-primary">
      <div class="panel-heading">
        节点搜索
      </div>

      <div class="panel-body">

        <p>基站名搜索</p>
        <%= text_field_tag "name_search" ,nil,class:"form-control",data:{autocomplete_source:stations_search_path } %>
        <p>地名搜索</p>
        <%= text_field_tag "suggest_pos",nil,class:"form-control" %>

      </div>

    </div>
    <div class="panel panel-primary">
      <div class="panel-heading">
       屏幕处节点 
      </div>

      <div class="panel-body" style="height:300px;overflow:auto" id="station_list">

      </div>

    </div>
  </div>
</div>
<div class="editor">
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" >&times;</button>
          <h4 class="modal-title" id="myModalLabel">添加新节点</h4>
        </div>
        <div class="modal-body">
          <% @station = Station.new %>
          <%= render  'stations/form' %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="showModal" tabindex="-1" role="dialog" aria-labelledby="showModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" >&times;</button>
          <h4 class="modal-title" >节点细节</h4>
        </div>
        <div class="modal-body" id="show_details">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>


<% content_for :header do %>
  <script type="text/javascript" charset="utf-8">
    var idata = <%= raw @stations.to_json %>;
    </script>
  <%= javascript_include_tag "welcome" %>
  <% end %>

<style type="text/css" media="all">
  .ui-autocomplete { height: 500px; overflow-y: scroll; overflow-x: hidden;}
</style>

